<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Matching</title>
	</head>
	<body>
		<h1>Welkom bij de Matching App</h1>

		<% if(eersteKat){ %>
			<h2>Naam: <%= eersteKat.naam %></h2>
			<p>Leeftijd: <%= eersteKat.leeftijd %></p>
			<p>Status: <%= eersteKat.status %></p>
			<form action="/liked" method="post">
				<button
					type="submit"
					name="katId"
					id="like-button"
				>
					liked
				</button>
			</form>
	
			<form action="/disliked" method="post">
				<button
					type="submit"
					name="katId"
					id="dislike-button"
				>
					dislike
				</button>
			</form>

			<!-- <form action="like-or-dislike" method="post" >
				<label>Dislike<input type="submit" value="dislike"></label>
				<label>Like<input type="submit" value="like"></label>	
			</form> -->
		<% } else { %>
		<p>Er zijn geen katten meer om te liken</p>
		<% } %>
	</body>
</html>
