/* Lettertpye('s) */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	margin: 0;
	padding: 1em;
}

body h1 {
	font-family: "Pacifico", cursive;
	font-size: 2em;
	text-align: center;
	color: #ff0043;
	margin: 0;
}

body h2 {
	font-family: "Poppins", sans-serif;
	font-size: 1.75em;
	font-weight: 600;
    color: white;
	margin: 0;
}

body p {
    font-family: "Poppins", sans-serif;
	font-size: 1em;
	font-weight: 400;
}

/* Primaire tekst knop */
.knop {
    font-family: "Poppins", sans-serif;
	font-size: 1em;
	font-weight: 400;
    border-radius: 10em;
    text-align: center;
	text-decoration: none;
    padding: .75em 0;
    width: 100%;
}
/* =================== */
/* Match zoeken pagina */
/* =================== */
/* Header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header svg {
	fill: black;
	width: 1.5em;
	height: auto;
}

/* kat profiel (hiermee blijft de kat informatie binnen de div positioneren icm position: absolute;)*/
#kat-profiel {
    position: relative;
    border-radius: 1em;
    overflow: hidden;
}

/* Profielfoto */
#profiel-foto {
	width: 100%;
	height: auto;
}

/* Kat informatie op profiel foto */
#kat-info {
    position: absolute;
    left: 0em;
    bottom: 0em;
    padding: 1em;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
}

/* Kat informatie - Naam, Leeftijd & Geslacht */
#naam-leeftijd-geslacht {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

#naam-leeftijd-geslacht img {
	width: auto;
	height: 1.5em;
}

/* Rest kat informatie */
#kat-info ul {
	list-style: none;
	padding: 0;
    margin: 0;
}

#kat-info ul li {
	font-family: "Poppins", sans-serif;
	font-size: 1em;
	font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
    gap: .5em;
}

#kat-info ul li svg {
    fill: white;
    width: 1.25em;
    height: auto;
}

/* Like & Dislike buttons samen */
#like-dislike {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

#like-dislike button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 2em;
}

#like-dislike svg {
    fill: white;
    width: 2em;
    height: auto;
}

/* Like & Disliked buttons apart */
#like-button {
    background-color: #00d193;
}

#dislike-button {
    background-color: #ff0043;
}

/* Geen katten meer :( */
#geen-katten-meer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    margin-top: 50%;
}

#geen-katten-meer img {
    width: 50%;
    height: auto;
}

#geen-katten-meer p {
    color: black;
}

#geen-katten-meer .knop {
    color: white;
    background-color: #00d193;
}

/* ============ */
/* Match pagina */
/* ============ */
#match {
    background-color: #ff3268;
}

#match header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

#match header h2 {
    text-align: center;
}

#match main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5em;
}

#match img {
    width: 100%;
    height: auto;
    border-radius: 1em;
}

#match .knop:first-of-type {
    color: white;
    background-color: #00d193;
}

#match .knop:nth-of-type(2) {
    color: #ff0043;
    background-color: white;
}

/* ========= */
/* Navigatie */
/* ========= */
nav {
    background-color: #333333;
    padding: .5em 0;
    border-radius: 1em;
    margin-top: 3em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li a svg {
    fill: white;
    width: 2em;
    height: auto;
}